extends ../layout

block content
    h3= author.first_name + " " + author.last_name

    div
        p Date of birth: #{author.dob}

    div
        h4 Books Published:
        each book in author.books
            p #{book.title}
            a(href=`/books/profile/${book.id}`) View Book