extends ../layout

block content
    h3 Authors
    table
        thead
            tr
                th First Name
                th Last Name
                th DOB
                th
        tbody
            each authors in author
                tr
                    td= authors.first_name
                    td= authors.last_name
                    td= authors.dob
                    td
                        a(href=`/authors/profile/${authors.id}`) View Author

